<p id="notice"><%= notice %></p>

<h1>Register Products</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Id seq</th>
      <th>Endereco</th>
      <th>Preco</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @register_products.each do |register_product| %>
      <tr>
        <td><%= register_product.nome %></td>
        <td><%= register_product.id_seq %></td>
        <td><%= register_product.endereco %></td>
        <td><%= register_product.preco %></td>
        <td><%= register_product.email %></td>
        <td><%= link_to 'Show', register_product %></td>
        <td><%= link_to 'Edit', edit_register_product_path(register_product) %></td>
        <td><%= link_to 'Destroy', register_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Register Product', new_register_product_path %>
